home.container{
  background-image: url();
}

@font-face {
  src: url(fonts/GrinchedRegular.otf);
  font-family: grinch;
}

.start {
  font-family: grinch;
}

.header-color {
  background-image: url("https://www.bing.com/th?id=OIP.A2cHovPiNnpLgeYWdEI7ggHaHa&pid=Api&rs=1");
  background: #03001e; /*  fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E600E6, #ec38bc, #7303c0, #03001e);  /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, #E600E6, #ec38bc, #7303c0, #03001e); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

.home-grid {
  /* background: #03001e;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.books-grid {
  /*display: flex;*/
}

.home-container{
  background-image: url(./images/hands-background.jpg);
}



.tyla-img {
  margin: auto;
  height: 40em;
  width: 40em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;

}

.title-color {
  color: #03001e;
}

.site-title {
  text-align: center;
}

.nav-title {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.facebook {
  color: #4267B2;
}

/************************************************* Books Page ********************************************************/

.page-title {
  justify-content: center;
  list-style-position: outside;
  text-align: center;
}

.card {
  padding-bottom: 2rem;
  justify-content: left;
  left: 50px;
  margin-left: auto;
}

.review {
  text-align: center;
  float: right;
}

/************************************************* Events Page ********************************************************/
.events-container{
  background-image: url(./images/seahorse-background.jpg);
}


.event-title {
  font-family: 'Satisfy', cursive;
  text-decoration: underline;
}

.event {
  background-color: white;
  border-style: solid;
  border-spacing: 5rem;
  padding: 25px 50px 75px 100px;
  margin-inline-start: auto;
  margin-left: 1in;
  margin-right: 1in;
  display: inline-block;
}

.event h2 {
  float: right;
  text-align: right;
  margin: auto;
  padding-right: 15rem;

}

.event p {
  float: right;
  text-align: right;
  margin: auto;
  padding-right: 10rem;

}

.event img {
  float: left;
}

.desc {
  float: right;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
}

/************************************************* News Page ********************************************************/
.page-title {
  position: relative;
  bottom: 2.5rem;
}

.news-container{
  background-image: url(./images/nature-background.jpg);
}

.article {
  border: #03001e;
}

/************************************************* Contact Page ********************************************************/


















.contact-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;

}

