/************************************************* Fonts ********************************************************/

@font-face {
  src: url(fonts/GrinchedRegular.otf);
  font-family: grinch;
}

@font-face {
  src: url(fonts/MISTV.TTF);
  font-family: vampire;
}

@font-face {
  src: url(fonts/gymnastikDEMO.otf);
  font-family: gym;
}

@font-face {
  src: url(fonts/KidsPlaceDemo.otf);
  font-family: place;
}

@font-face {
  src: url(fonts/ChildrenBook.ttf);
  font-family: book;
}

@font-face {
  src: url(fonts/kidsWritten.otf);
  font-family: written;
}

@font-face {
  src: url(fonts/KidspaceDEMO.ttf);
  font-family: space;
}

@font-face {
  src: url(fonts/KidsAlphabet.ttf);
  font-family: alphabet;
}
/************************************************* Home Page ********************************************************/

.home-container{
  background-image: url(./images/hands-background.jpg);
}

.start {
  font-family: grinch;
}

.header-color {
  background-image: url("https://www.bing.com/th?id=OIP.A2cHovPiNnpLgeYWdEI7ggHaHa&pid=Api&rs=1");
  background: #03001e; /*  fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E600E6, #ec38bc, #7303c0, #03001e, rgb(21, 224, 14));  /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, #E600E6, #ec38bc, #7303c0, #03001e, rgb(21, 224, 14)); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

.home-grid {
  /* background: #03001e;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.home-sec
{
  background-color: white;
  border-style: solid;
  border-spacing: 10rem;
  padding: 25px 50px 75px 100px;
  margin-inline-start: auto;
  margin-left: 1in;
  margin-right: 1in;
  display: inline-block;
  position: relative;
  /* position: absolute;
  bottom: 0; */
}

.books-grid {
  /*display: flex;*/
}

.searchField {
  /* background-color: white; */
  /* background-image: url(); */
}



.tyla-img {
  margin: auto;
  height: 40em;
  width: 40em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;

}

.title-color {
  color: #03001e;
}

.site-title {
  text-align: center;
}

.nav-title {
  font-family: alphabet;
}

.facebook {
  /* color: #4267B2; */
}

.home-image-grid {
  background-color: white;
  box-sizing: border-box;
  border: solid;
  width: 80%;
  margin: auto;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.portfolio {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8" "img9 img10 img11 img12";
}

.image1 {
  grid-area: img1;
  text-align: center;
}

.image2 {
  grid-area: img2;
  text-align: center;
}

.image3 {
  grid-area: img3;
  text-align: center;
}

.image4 {
  grid-area: img4;
  text-align: center;
}

.image5 {
  grid-area: img5;
  text-align: center;
}

.image6 {
  grid-area: img6;
  text-align: center;
}

.image7 {
  grid-area: img7;
  text-align: center;
}

.image8 {
  grid-area: img8;
  text-align: center;
}

.image9 {
  grid-area: img9;
  text-align: center;
}

.image10 {
  grid-area: img10;
  text-align: center;
}

.image11 {
  grid-area: img11;
  text-align: center;
}

.image12 {
  grid-area: img12;
  text-align: center;
}

.fit {
  width: 100%;
  height: 100%;
}

/*.cover-card {
  background-image: url(./images/profile.jpg);
  color: '#fff';
  height: '476px';

}*/

.profile {
  background-image: url(./images/profile.jpg);
  height: 1692px;
  width: 1110px;
  margin: auto;
  
  
}

.public-article {
  margin: auto;
  height: 20rem;
  width: 80%;
  background-color: white;
  padding: 10px;
  padding-bottom: 10rem;
  box-sizing: border-box;
  border-spacing: 15px;
  border: #03001e;
}

.public-article img {
  float: right;
}

.personal-article {
  margin: auto;
  height: 20rem;
  width: 80%;
  background-color: white;
  padding: 10px;
  padding-bottom: 10rem;
  box-sizing: border-box;
  border-spacing: 15px;
  border: #03001e;
}

.personal-article img {
  float: left;
}

.mission {
  background-image: url(./images/seahorse-background.jpg);
  height: 200px;
  width: 200px;
}

.story {
  background-image: url(./images/baby.jpg);
  height: 200px;
  width: 200px;
}

.book {
  height: 200px;
  width: 200px;
}

/************************************************* Books Page ********************************************************/

.page-title {
  justify-content: center;
  list-style-position: outside;
  text-align: center;
}

.card {
  padding-bottom: 2rem;
  justify-content: left;
  left: 50px;
  margin-left: auto;
}

.review {
  text-align: center;
  float: right;
}

.books-grid h2 {
  font-family: written;
  color: black;
}

/************************************************* Events Page ********************************************************/
.event-title {
  background-color: white;
  position: relative;
  bottom: 2.5rem;
  text-align: center;
  font-family: place;
}

.events-container{
  background-image: url(./images/seahorse-background.jpg);
}

.event-header {
  font-family: space;
}

.activity-title {
  font-family: grinch;
  text-align: center;

}

.event {
  background-color: white;
  border-style: solid;
  border-spacing: 10rem;
  padding: 25px 50px 75px 100px;
  margin-inline-start: auto;
  margin-left: 1in;
  margin-right: 1in;
  display: inline-block;
}

.event h2 {

}

.event p {
  text-align: center;
  padding-left: 3rem;
  
}

.event img {
  float: left;
}

.desc {
  font-size: x-large;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
}

/************************************************* News Page ********************************************************/
.news-title {
  position: relative;
  bottom: 3.3rem;
  text-align: center;
  font-family: gym;
}

.news-container{
  background-image: url(./images/nature-background.jpg);
}

.news-article {
  margin: auto;
  height: 20rem;
  width: 80%;
  background-color: white;
  padding: 10px;
  padding-bottom: 10rem;
  box-sizing: border-box;
  border-spacing: 15px;
  border: #03001e;
}

.news-article img {
  float: left;
}

/************************************************* Contact Page ********************************************************/

.button {
  margin: auto;
  text-align: center;
  padding-left: 12rem;
}

.contact-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;

}

/****************************************************FAQ*************************************************************/
.faq-container {
  width:  85%;
}

.faq-img {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  height: 450px;
  width: 1200px;
 /* width: 1000px; */

}

.faq-title {
  text-align: center;
}

.question {
  font-weight: bold;
  text-decoration-line: underline;
}

.answer {
  font-size: x-large;
}